<template>
  <div id="app">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Task</a>
        </div>
    </nav>
    <div class="container mt-5">

        <div class="row mb-5">

            <div class="col">
                <h1>Customers</h1>
            </div>

            <div class="col">
                <button class="btn btn-primary" @click="toggleCreate">{{ showCreateForm ? 'Hide' : 'Add' }}</button>
            </div>
            
        </div>

        <div class="mt-2 mb-5" v-if="showCreateForm">

            <form action="" @submit="checkForm" method="post">

                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li :key="error" v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

                <div class="row">
                    <div class="col">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="col">
                        <input name="first_name" class="form-control" type="text" v-model="customer.first_name" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="first_name">Last Name</label>
                    </div>
                    <div class="col">
                        <input name="last_name" class="form-control" type="text" v-model="customer.last_name" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="first_name">Email</label>
                    </div>
                    <div class="col">
                        <input name="email" class="form-control" type="email" v-model="customer.email" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="first_name">Country</label>
                    </div>
                    <div class="col">
                        <input name="country" class="form-control" type="text" v-model="customer.country" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="first_name">Gender</label>
                    </div>
                    <div class="col">
                        <select name="gender" class="form-control" v-model="customer.gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Insert">
                    </div>
                </div>
            
            </form>
            

        </div>

        

        <customer-component
        v-for="customer in customers"
        v-bind="customer"
        :key="customer.id"
        @update="update"
        @delete="deleteCustomer"
        @addTransaction="addTransaction"
        ></customer-component>

    </div>

    
  </div>
  
</template>

<script>

function Customer({ id, first_name, last_name, email, country, gender, balance, transactions }) {
    this.id = id;
    this.first_name = first_name;
    this.last_name = last_name;
    this.email = email;
    this.country = country;
    this.gender = gender;
    this.balance = balance;
    this.transactions = [];
    if(transactions) {
        transactions.forEach(t => this.transactions.push(new Transaction(t)))
    }
}

function Transaction({ amount, deposit }) {
    this.amount = amount;
    this.deposit = deposit;
}

import CustomerComponent from './components/CustomerComponent.vue';

export default {
    data() {
        return {
            customers: [],
            showCreateForm: false,
            errors: [],
            customer: {
                id: 0,
                first_name: '',
                last_name: '',
                email: '',
                country: '',
                gender: '',
                transactions: []
            }
        }
    },
    methods: {
        async toggleCreate() {
            this.showCreateForm = !this.showCreateForm;   
        },
        checkForm(e) {

            this.errors = [];

            if(!this.customer.first_name) {
                this.errors.push("First Name Required");
            }else if(this.customer.first_name.length < 3 || this.customer.first_name > 20) {
                this.errors.push("First Name Min: 3 | Max: 20");
            }

            if(!this.customer.last_name) {
                this.errors.push("Last Name Required");
            }else if(this.customer.last_name.length < 3 || this.customer.last_name > 20) {
                this.errors.push("Last Name Min: 3 | Max: 20");
            }

            if(!this.customer.email) {
                this.errors.push("Email Required");
            }else if(!this.validEmail(this.customer.email)) {
                this.errors.push("Email not valid");
            }

            if(!this.customer.country) {
                this.errors.push("Country Required");
            }else if(this.customer.country.length < 3 || this.customer.country.length > 20) {
                this.errors.push("Country Min: 3 | Max: 20");
            }

            if(!this.customer.gender) {
                this.errors.push("Gender Required");
            }

            if (!this.errors.length) {
                this.create();
            }
            

            e.preventDefault();
        },
        validEmail(email) {
            var re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            return re.test(email);
        },
        create() {
            const self = this;
            axios.post('/api/customers', {
                first_name: this.customer.first_name,
                last_name: this.customer.last_name,
                email: this.customer.email,
                country: this.customer.country,
                gender: this.customer.gender
            })
            .then( (response) => {
                let newCustomer = response.data
                self.customers.push(new Customer(newCustomer));
                alert(`Created ${newCustomer.first_name} ${newCustomer.last_name}`);
                this.customer.first_name = '';
                this.customer.last_name = '';
                this.customer.email = '';
                this.customer.country = '';
                this.customer.gender = '';
                this.showCreateForm = false;
            })
            .catch( (error) => {
                let errorsList = error.response.data;
                Object.keys(errorsList).forEach(key => self.errors.push(errorsList[key]));
            });
        },
        async read() {
            const { data } = await axios.get('/api/customers');
            data.forEach((customer) => {
                this.customers.push(new Customer(customer));
            });
        },
        update(customer) {
            let findCustomer = this.customers.find(c => c.id === customer.id);
            if(findCustomer) {
                axios.put(`/api/customers/${customer.id}`,{
                    first_name: customer.first_name,
                    last_name: customer.last_name,
                    email: customer.email,
                    country: customer.country,
                    gender: customer.gender
                })
                .then((response) => {
                    let findCustomerIndex = this.customers.findIndex(c => c.id === customer.id);
                    if(findCustomerIndex > -1) {
                        this.customers[findCustomerIndex] = response.data;
                        alert("Updated");
                    }
                })
                .catch( (error) => {
                    let errorsList = error.response.data;
                    let stringErrorlist = '';
                    Object.keys(errorsList).forEach(key => stringErrorlist += errorsList[key]+ "\n");
                    alert(stringErrorlist);
                })
            }
            
        },
        deleteCustomer(id) {
            axios.delete(`/api/customers/${id}`)
            .then(() => {
                let findCustomerIndex = this.customers.findIndex(c => c.id === id);
                if(findCustomerIndex > -1) {
                    this.customers.splice(findCustomerIndex,1);
                    alert("Deleted customer and removed all transactions");
                }
                
            })
            .catch(console.log("Error"));
        },
        addTransaction(customer_id, transaction) {
            const self = this;
            axios.post('/api/transactions', {
                customer_id: customer_id,
                amount: transaction.amount,
                deposit: transaction.deposit
            })
            .then( (response) => {
                let balance = response.data;
                let findCustomer = this.customers.find(c => c.id === customer_id);
                if(findCustomer) {
                    findCustomer.balance = balance;
                    findCustomer.transactions.push(new Transaction(transaction));
                    alert(`Current balance: ${balance}€`);
                }
            })
            .catch( (error) => {
                alert(error.response.data);
            });
        }
    },
    components : {
        CustomerComponent
    },
    created() {
        this.read();
    }
}
</script>