<template>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p>Name: {{ `${ first_name } ${ last_name }` }}</p>
                </div>
                <div class="col">
                    <button class="btn btn-info" @click="toggleDetails">Toggle Details</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" @click="deleteCustomer">Delete</button>
                </div>
            </div>
            
            <div v-if="show">

                <div class="input-group">
                    Balance: {{balance}} €
                </div>

                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Email</span>
                    </div>
                    <input type="email" v-model="customerUpdate.email" class="form-control">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Country</span>
                    </div>
                    <input type="email" v-model="customerUpdate.country" class="form-control">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Gender</span>
                    </div>
                    <input type="email" v-model="customerUpdate.gender" class="form-control">
                </div>
                <div class="input-group mt-5">
                    <button class="btn btn-secondary" @click="update">Update</button>
                </div>

                <h2 class="mt-5">Transactions</h2>
                <div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" @click="addTransaction">Add</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Amount" v-model="newTransaction.amount" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                           <select class="form-control" v-model="newTransaction.deposit">
                               <option value=1 selected>Deposit</option>
                               <option value=0>Withdraw</option>
                           </select>
                        </div>
                    </div>
                </div>
                <ul>
                    <li v-for="transaction in customerUpdate.transactions">{{ transaction.deposit ? "Deposit" : "Withdraw" }} | Amount: {{ transaction.amount }}</li>
                </ul>
            </div>

        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            show: false,
            customerUpdate: {
                id: 0,
                first_name: '',
                last_name: '',
                email: '',
                gender: '',
                transactions: []
            },
            newTransaction: {
                amount: 1,
                deposit: 1
            }
        }
    },
    props: ['id', 'first_name', 'last_name','email','country','gender','transactions','balance'],
    mounted() {
        this.customerUpdate = {
            id: this.id,
            first_name: this.first_name,
            last_name: this.last_name,
            email: this.email,
            country: this.country,
            gender: this.gender,
            transactions: this.transactions
        }
    },
    methods: {
        toggleDetails() {
            this.show = !this.show;
        },
        update() {
            this.$emit('update', this.customerUpdate);
        },
        deleteCustomer() {
            this.$emit('delete', this.id);
        },
        addTransaction() {
            if(!isNaN(this.newTransaction.amount)) {
                this.$emit('addTransaction', this.id, this.newTransaction);
            }else {
                alert("Amount needs to a number");
                this.newTransaction.amount = 1;
            }
            
        }
    }
}
</script>